* {
    margin: 0px;
    padding: 0px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    background-image: linear-gradient(to right, rgba(128, 0, 128, 0.555), rgba(73, 124, 124, 0.452));
}

header {
    color: white;
    text-align: center;
    margin-bottom: 20px;
}

section {
    position: relative;
    width: 280px;
    height: 300px;
    margin: auto;
    margin-bottom: 10px;
    padding: 15px;
    background-color: white;
    color: black;
    border-radius: 10px;
    box-shadow: 3px 3px 10px black;
}

section > div#foto {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;

    border-radius: 50%;
    width: 50%;
    height: 50%;
    overflow: hidden;
}

div {
    text-align: center;
}

footer{
    text-align: center;
    font-style: italic;
    color: white;
}